.venv/
__pycache__/
.pytest_cache/
.ruff_cache/
.env
data/
run10_exceptions.csv
run10_failures.csv
run10_stats_history.csv
run10_stats.csv
run50_exceptions.csv
run50_failures.csv
run50_stats_history.csv
run50_stats.csv
run100_exceptions.csv
run100_failures.csv
run100_stats_history.csv
run100_stats.csv